<div>
    <header>
        <h1>Admin Dashboard</h1>
    </header>
    <div class="sidebar">
        <nav>
            <ul>
                <button>Gestione Progetti</button>
                <button>Gestione Foto</button>
            </ul>
        </nav>
    </div>
    <div class="pageContainer">
        <div class="gestioneProgetti">
            <div>
                <h3>Aggiungi Progetto</h3>
                <form action="">
                    <label for="">ID</label>
                    <input type="text" />
                    <label for="">Nome</label>
                    <input type="text" />
                    <label for="">Anno</label>
                    <input type="text" />
                    <label for="">Descrizione</label>
                    <input type="text" />
                    <label for="">Copertina</label>
                    <input type="text" />
                </form>
            </div>
            <div>
                <h3>Aggiorna Progetto</h3>
                <form action="">
                    <label for="">ID</label>
                    <input type="text" />
                    <label for="">Nome</label>
                    <input type="text" />
                    <label for="">Anno</label>
                    <input type="text" />
                    <label for="">Descrizione</label>
                    <input type="text" />
                    <label for="">Copertina</label>
                    <input type="text" />
                </form>
            </div>
            <div>
                <h3>Elimina Progetto</h3>
                <form action="">
                    <label for="">ID</label>
                    <select name="" id="">
                        <optgroup>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                            <option value="">5</option>
                            <option value="">6</option>
                        </optgroup>
                    </select>
                    <input type="submit" value="Elimina" />
                </form>
            </div>
        </div>
        <div class="gestioneFoto"></div>
    </div>
</div>
